<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1000, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- Javascript of Chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.js"></script>
    <!-- END Javascript of Chart -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- <script src="{{ url_for('static', filename='js/graph_fun.js')}}"></script> -->

    <title>키패드</title>
</head>

<body>

    <div class="chart_app">
        <div class="box">
            <div class="left">
                <div style="height:84%">
                    <canvas id="myChart" style="height: 350px; display: block; "></canvas>
                </div>

                <div style="margin-top:10px">
                    <div>
                        <button type="button" onclick="location.href='http://localhost:7070/chart'"
                            class="btn btn-light" id="btn_power01">현재값</button>
                        <button type="button" onclick="location.href='http://localhost:7070'" class="btn btn-light"
                            id="btn_power02" style="margin-left:10px">그래프</button>
                        <button type="button" onclick="window.location.reload()" class="btn btn-light" id="btn_power03"
                            style="margin-left:10px">새로고침</button>
                    </div>

                    <div class="toggle_btn_container">
                        <!-- <div class="toggle_btn_box"> -->
                        <input class="toggle_input " id="toggle_btn" type="checkbox" />
                        <label class="toggle_label" for="toggle_btn">
                            <span class="txt1">일간</span>
                            <span class="txt2">월간</span>
                        </label>
                        <!-- </div> -->

                        <!-- <div class="toggle_btn_box"> -->
                        <input class="toggle_input " id="toggle_btn_saver" type="checkbox" />
                        <label class="toggle_label" for="toggle_btn_saver">
                            <span class="txt1">해제</span>
                            <span class="txt2">절전</span>
                        </label>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="logo_box">
                    <a href="/"><img src="{{ url_for('static',filename='images/ninewatt-logo-3d.gif') }}" alt=""></a>
                </div>
                <div class="input_content">
                    <div class="title_box">
                        <!-- <span class="icon"><i class="fas fa-bolt fa-lg"></i></span> -->
                        <span class="txt">Time</span>
                        <span class="txt" id="timenow"></span>
                    </div>
                </div>

                <div class="monitor_content">
                    <div class="table_box">
                        <table>
                            <thead>
                                <tr>
                                    <th>프로세스</th>
                                    <th>동작여부</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>WebServer</td>
                                    <td id="web_process"></td>
                                </tr>
                                <tr>
                                    <td>&nbsp</td>
                                    <td>&nbsp</td>
                                </tr>
                            </tbody>

                            <thead>
                                <tr>
                                    <th>리소스</th>
                                    <th>사용율(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CPU</td>
                                    <td id="cpu_usage"></td>
                                </tr>
                                <tr>
                                    <td>메모리</td>
                                    <td id="mem_usage"></td>
                                </tr>
                                <tr>
                                    <td>디스크</td>
                                    <td id="hdd_usage"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        var toggleBtn = document.querySelector('#toggle_btn');
        var toggleBtn_saver = document.querySelector('#toggle_btn_saver');
        var interval_timer = 10000;

        var ctx = document.getElementById('myChart').getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    label: '',
                    data: [],
                    backgroundColor: []
                }]
            },
            options: {
                responsive: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        //===========================================================

        $(document).ready(function() { 
            get_timenow();
            get_process();
            get_resource();
            get_day_history();
            screensaver();
        });

        function get_day_history() {
            var date_label = []
            var value_data = []
            var backgd = []
            var history_data = null
            $.ajax({
                url: 'http://localhost:7070/get/day',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    history_data = data.day_history

                    for (var i in history_data) {
                        date_label.push(history_data[i][0].slice(8, 10))
                        value_data.push(history_data[i][1])
                        backgd.push('rgba(44, 248, 250, 1)')
                    }
                }
            }).done(function (res) {
                addData(myChart, date_label, '일간사용량', value_data, backgd);
            });
        }

        function get_month_history() {
            var date_label = []
            var value_data = []
            var backgd = []
            var history_data = null
            $.ajax({
                url: 'http://localhost:7070/get/month',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    history_data = data.month_history

                    for (var i in history_data) {
                        date_label.push(history_data[i][0].slice(5, 7))
                        value_data.push(history_data[i][1])
                        backgd.push('rgba(44, 248, 250, 1)')
                    }
                }
            }).done(function (res) {
                addData(myChart, date_label, '월간사용량', value_data, backgd);
            });
        }

        function addData(chart, label, name, data, backgd) {
            chart.data.labels = label;
            chart.data.datasets[0].label = name
            chart.data.datasets[0].data = data;
            chart.data.datasets[0].backgroundColor = backgd;
            chart.update();
        }

        function get_process() {
            $.ajax({
                url: 'http://localhost:7070/process',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    document.querySelector('#web_process').innerHTML = data['ninewatt_web'];
                }
            });
        }

        function get_resource() {
            $.ajax({
                url: 'http://localhost:7070/resource',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    document.querySelector('#cpu_usage').innerHTML = data['cpu'];
                    document.querySelector('#mem_usage').innerHTML = data['mem'];
                    document.querySelector('#hdd_usage').innerHTML = data['hdd'];
                }
            });
        }

        function get_timenow() {
            $.ajax({
                url: 'http://localhost:7070/timenow',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    document.querySelector('#timenow').innerHTML = data['time'];
                }
            });
        }

        function toggle_update_graph() {
            if (toggleBtn.checked) {
                get_month_history()
            } else {
                get_day_history()
            }
        }

        function screensaver(){
            $.ajax({
            type: 'GET',
            contentTypes: 'javascript/json; charset=utf-8',
            data: {},
            dataType: 'json',
            url: 'http://localhost:7070/xscreensaver',
            success: function (e) {

                if (e.xscreensaver_status == "on") {
                    toggleBtn_saver.checked = true;
                }
                else if (e.xscreensaver_status == "off") {
                    toggleBtn_saver.checked = false;
                }
            }
            })
        }

        // toggleBtn.checked = true;
        toggleBtn.addEventListener('change', function () {
            if (toggleBtn.checked) {
                get_month_history()
            } else {
                get_day_history()
            }
        });

        toggleBtn_saver.addEventListener('change', function () {
            if (toggleBtn_saver.checked) {
                $.ajax({
                    type: 'GET',
                    contentTypes: 'javascript/json; charset=utf-8',
                    data: {},
                    dataType: 'json',
                    url: 'http://localhost:7070/xscreensaver/on',
                    success: function (e) {
                    }
                })
            } else {
                $.ajax({
                    type: 'GET',
                    contentTypes: 'javascript/json; charset=utf-8',
                    data: {},
                    dataType: 'json',
                    url: 'http://localhost:7070/xscreensaver/off',
                    success: function (e) {
                    }
                })
            }
        })
        

        setInterval(function () {
            get_timenow();
        }, interval_timer);

        setInterval(function () {
            get_resource();
        }, interval_timer);

        setInterval(function () {
            get_process();
        }, interval_timer);

        setInterval(function () {
            toggle_update_graph();
        }, interval_timer);

    </script>
</body>

</html>